In [9]:
import pandas as pd

In [10]:
df = pd.read_excel("../Resources/Glassdoor/wa_glassdoor.xlsx")

In [11]:
df.head()

,company,description,location,position,reviews
0,Outreach,About The TeamData is at the core of Outreach'...,"Seattle, WA",data scientist,5
1,Knowesis Inc.,Job Description:Knowesis is looking for person...,"Fort Lewis, WA",data scientist,0
2,ADURO,SUMMARY:\n\n\nResponsible for managing the col...,"Redmond, WA",data analyst,5
3,PicMonkey,Weve got our eyes peeled for a Data Analyst wh...,"Seattle, WA",data analyst,0
4,Ring LLC,Ring is looking for a Data Scientist to join a...,"Seattle, WA",data scientist,0

In [12]:
# filter only three most relevant position

df_Analyst = df[df['position'].str.contains('Data Analyst',case=False) ]
df_Scientist = df[df['position'].str.contains('Data Scientist',case=False) ]
df_Engineer = df[df['position'].str.contains('Data Engineer',case=False) ]

frames = [df_Analyst, df_Scientist, df_Scientist]
glassdoor_df = pd.concat(frames)

glassdoor_df.head(50)

,company,description,location,position,reviews
2,ADURO,SUMMARY:\n\n\nResponsible for managing the col...,"Redmond, WA",data analyst,5
3,PicMonkey,Weve got our eyes peeled for a Data Analyst wh...,"Seattle, WA",data analyst,0
7,ProKarma,Description\n\nProKarma currently has exciting...,"Seattle, WA",data analyst,5
17,Pivotal Consulting,Are you a Data Analyst/Jr. Data Scientist with...,"Redmond, WA",data analyst,0
22,Inspiration Global,We are looking for a passionate certified Data...,"Seattle, WA",data analyst,0
45,Bridge Partners,We are seeking a Data Analyst to join our fast...,"Bellevue, WA",data analyst,2
55,Fisher Investments,OverviewFisher Investments Workforce Planning ...,"Camas, WA",data analyst,5
93,AdColony,\nWe are looking for a Data Analyst who can de...,"Bellevue, WA",data analyst,1
96,LiveRamp,ABOUT LIVERAMP\n\nLiveRamp is the trusted plat...,"Seattle, WA",data analyst,0
103,Veear Projects,Title: Data Analyst/Scientist\n\nLocation: Sea...,"Seattle, WA",data analyst,0
119,Transaction Network Services,Data Analyst\n\nPosition Description\n\nThe Sp...,"Seattle, WA",data analyst,1
129,Ascent,Translational Development Coordinator\n\nContr...,"Seattle, WA",data analyst,0
132,LanceSoft Inc,Job Description:\n\nWe are looking for a pass...,"Seattle, WA",data analyst,2
133,AiTech Corp,Title: Data Analyst/Scientist\n\nLocation: Sea...,"Seattle, WA",data analyst,0
152,Overlake Medical Center,The Senior Population Health Analyst is a key ...,"Bellevue, WA",senior data analyst,5
168,Course5 Intelligence,Requirement in short - (SQL based Transactiona...,"Seattle, WA",data analyst,0
174,Experis,Job DescriptionWe are seeking a Data Analyst f...,"Seattle, WA",data analyst,5
177,Seen by Indeed,Seen by Indeed is a free service that connects...,"Seattle, WA",data analyst,0
183,Blueocean Market Intelligence,Requirement in short - (SQL based Transactiona...,"Seattle, WA",data analyst,2
193,Rainier Fruit Company,"Job DescriptionRainier Fruit Company of Selah,...","Selah, WA",data analyst,0
198,Mastech Digital,Mastech Digital provides digital and mainstrea...,"Renton, WA",data analyst,0
253,Rainier Fruit Company,"Job DescriptionRainier Fruit Company of Selah,...","Selah, WA",data analyst,0
263,Mastech Digital,Mastech Digital provides digital and mainstrea...,"Renton, WA",data analyst,0
279,Pactera,I’m Susheel from Pactera. We do have a very ur...,"Redmond, WA",data analyst,5
297,"Pactera Technology NA, Inc.","Role : Data Analyst\n\nLocation : Redmond, WA\...","Redmond, WA",data analyst,0
301,G2 Web Services,Company DescriptionG2 has been the world leade...,"Bellevue, WA",data analyst,4
311,Adaptive Biotechnologies,Every immune system has a story to tell the ke...,"Seattle, WA",data analyst,5
314,Kforce,RESPONSIBILITIES:Kforce has a client in search...,"Seattle, WA",data analyst,5
317,Silicontek Systems,Job Description:\n\nResponsibilities:\n\nProvi...,"Seattle, WA",data analyst,0
339,Verisk,Company DescriptionG2 has been the world leade...,"Bellevue, WA",data analyst,0
342,Verisk,Company DescriptionG2 has been the world leade...,"Bellevue, WA",data analyst,0
373,CHILDRENS HOSPITAL &,Data Analyst Sr\n\nJob ID2019-31450Area of Int...,"Seattle, WA",senior data analyst,0
392,Net2Source,Net2Source is a Global Workforce Solutions Com...,"Seattle, WA",data analyst,0
421,Salient CRGT,"Job DescriptionApplies logic, decision science...","Vancouver, WA",data analyst,0
465,Big Fish Games,Job Posting TitleSenior Data AnalystSummaryLif...,"Seattle, WA",senior data analyst,5
486,DESC,Job Title: Health Integration Data Analyst\n\n...,"Seattle, WA",data analyst,5
531,Net2Source,Net2Source is a Global Workforce Solutions Com...,"Seattle, WA",data analyst,0
536,Groupon,Groupon’s mission is to become the daily habit...,"Seattle, WA",senior data analyst,5
539,APN Software Services Inc.,\nDescription: Job title: Data Analyst Re...,"Bothell, WA",data analyst,0
551,PATH,Tracking Code\n\n9661\n\nJob Description\n\nPl...,"Seattle, WA",data analyst,5
561,"PetroCard, Inc.",PetroCard is More than just fuel. We are the l...,"Kent, WA",senior data analyst,0
567,Ursus,Job Title: Data Analyst IV\n\nLocation: Seattl...,"Seattle, WA",data analyst,0
589,Salient CRGT,"Job DescriptionApplies logic, decision science...","Vancouver, WA",data analyst,0
654,eXcell,Did you know that Gartner positioned eXcell as...,"Redmond, WA",data analyst,5
664,Big Fish Games,Job Posting TitleSenior Data AnalystSummaryLif...,"Seattle, WA",senior data analyst,5
681,Amazon Corporate LLC,Are you excited and passionate about deliverin...,"Seattle, WA",data analyst,2
700,DESC,Job Title: Health Integration Data Analyst\n\n...,"Seattle, WA",data analyst,5
709,Virtuosity Consulting Group,"Sorry, NO visa sponsorship availiable\n\n Only...","Redmond, WA",data analyst,2
770,"ExtraHop Networks, Inc.",As a Data Analyst within the ExtraHop Customer...,"Seattle, WA",senior data analyst,5
801,Big Fish Games,Job Posting TitleSenior Data AnalystSummaryLif...,"Seattle, WA",senior data analyst,5

In [13]:
# new data frame with split value columns 
location_df = glassdoor_df["location"].str.split(",", n = 1, expand = True) 

# add city
glassdoor_df["City"]= location_df[0] 
  
# add state
glassdoor_df["State"]= location_df[1] 
  
# Dropping old Name columns 
glassdoor_df.drop(columns =["location"], inplace = True) 

glassdoor_df.head()

,company,description,position,reviews,City,State
2,ADURO,SUMMARY:\n\n\nResponsible for managing the col...,data analyst,5,Redmond,WA
3,PicMonkey,Weve got our eyes peeled for a Data Analyst wh...,data analyst,0,Seattle,WA
7,ProKarma,Description\n\nProKarma currently has exciting...,data analyst,5,Seattle,WA
17,Pivotal Consulting,Are you a Data Analyst/Jr. Data Scientist with...,data analyst,0,Redmond,WA
22,Inspiration Global,We are looking for a passionate certified Data...,data analyst,0,Seattle,WA

In [16]:
glassdoor_df.to_csv('../../Load/Resources/Glassdoor/wa_glassdoor.csv',sep='|',index=False)